nav.navbar.navbar-inverse.navbar-fixed-top
	.navbar-header
		button.navbar-toggle.collapsed(type='button',aria-expanded='false' data-toggle='collapse'
		aria-controls='navbar')
		span.sr-only Toggle navigation
		span.icon-bar
		span.icon-bar
		span.icon-bar
	a.navbar-brand(href='/') Node Blog

	// /.navbar-header
	ul.nav.navbar-nav
		li.active
			a Home